<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="content">
        <div id="main">
            <div id="welcome">
                <h2>Welcome to our website</h2>
                <p>Here you can find all the information you need about our company.</p>
            </div>
            <div id="featured">
                <img src="images/featured.jpg" alt="">
                <p>Here you can find all the information you need about our company.</p>
            </div>
        </div>
        <div id="sidebar">
            <div id="news" class="boxed">
                <h2>News</h2>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                </ul>
            </div>
            <div id="updates" class="boxed">
                <h2>Updates</h2>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>